<div class="divheader">

	<table class="headertable">
		<tr>				
			<td class="central" >
				 <strong>
				 {NOMBREEMPRESA}<br>
				 {DIRECCIONEMPRESA}<br>
				 {TELEFONOEMPRESA}
				</strong>
			</td>		
		</tr>
	</table>	
	<table>
		<tr>
			<td class="htexto2" >
				 <p>
				  <strong>Ruc: </strong> {RUCEMPRESA}<br>
				  <strong>Fecha de Impresión: </strong> {FECHAEMPRESA}<br>
				  <strong>Usuario: </strong> {USUARIOEMPRESA}
				 </p>				 
			</td>
			
		</tr>
	</table>
	
	
</div>	