
<div class="clheader">

	<table class="headertable">
		<tr>	
			<td class="headertabletd" >
				 <strong>
				 {NOMBREEMPRESA}<br>
				 {DIRECCIONEMPRESA}<br>
				 {TELEFONOEMPRESA}
				</strong>
			</td>
		<td>
			<img  class="himagen" src="view/images/Logo-Capremci-h-200.jpg" width="200" height="39"></img>
		</td>
		</tr>
	</table>	
	<table class="headertable">
		<tr>
			<td class="htexto2" >
				 <p>
				  <strong>Ruc: </strong> {RUCEMPRESA}<br>
				  <strong>Fecha de Impresión: </strong> {FECHAEMPRESA}<br>
				  <strong>Usuario: </strong> {USUARIOEMPRESA}
				 </p>				 
			</td>
			
		</tr>
	</table>
	
	
</div>	