<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	<title>Solicitud/ Prórroga de plazos</title>
 
 <style>
  	.htexto1{		
	font-size: 13px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
  	</style>
  </head>
  <body>  

<br/><br/>
<p align="right" class="htexto1">Quito D.M., {FECHA}</p><br/>

<p align="left" class="htexto1">Señores<br />
<strong>FONDO COMPLEMENTARIO PREVISIONAL</strong><br/>
<strong>CERRADO DE CESANTÍA DE SERVIDORES Y</strong><br/>
<strong>TRABAJADORES PÚBLICOS DE FUERZAS ARMADAS – CAPREMCI</strong><br/>
Ciudad.-</p><br/>

<p align="right" class="htexto1"><strong>Referencia.</strong> - Solicitud/ Prórroga de plazos.</p>

<p align="left" class="htexto1">De mi consideración:</p>

<p align="justify" class="htexto1">En atención a lo resuelto el 11 de abril de 2020 por la Asamblea General Extraordinaria de Representantes de CAPREMCI, solicito y acepto la reprogramación de los dividendos correspondientes al crédito <strong>{NUMEROCREDITO}</strong> de tipo <strong>{NOMBRETIPOCREDITOS}</strong>; pagadero en el mes julio del año 2020, para su cancelación en el mes siguiente a la finalización ordinaria de la tabla de amortización originalmente pactada.</p>

<p align="justify" class="htexto1"><strong>Mi solicitud además la hago aceptando y declarando conocer las siguientes condiciones:</strong><em> aplicación por única vez, y la prorroga (en su totalidad) no procederá cuando, con ocasión a ella, se exceda del plazo de 7 años de vigencia de la tabla de amortización en caso de créditos quirografarios y de 25 años de créditos hipotecarios; mi petición puede ser procesada, únicamente, en caso de habérsela remitido hasta el 25 de abril del año 2020; mi solicitud la formalizaré a través de la aceptación de los términos contractuales y nueva tabla de amortización que me sean enviados por cualquier medio físico o electrónico.</em></p>

<p align="justify" class="htexto1"><em>Acepto la nueva tabla de amortización que se emitirá para el efecto y autorizo al descuento de todas las cuotas del crédito directamente del sueldo que me es depositado por mi empleador.</em></p>

<p align="justify" class="htexto1"><em>Acepto el cobro correspondiente al valor del seguro de desgravamen en los meses de prorroga de plazos y al presente crédito.</em></p>

<p align="justify" class="htexto1"><em>Declaro que he sido informado plenamente de las nuevas condiciones del crédito y declaro que no tengo nada que reclamar CAPREMCI.</em></p><br/>

<p align="left" class="htexto1">Atentamente,</p><br/>

<p align="left" class="htexto1"><strong>{APELLIDO} {NOMBRE}</strong><br/>
<strong>C.C.: {CEDULA}</strong></p>



	
	

	
  </body>
  </html>