table.fil1 {
   width: 100%;
   font-size: 12px;
}
td.1{
	
	width: 150px;
}
td.2{
	
	width: 100px;
}
td.3{
	
	width: 100px;
}

td.4{
	
	width: 130px;
}

td.5{
	
	width: 30px;
}
td.6{
	
	width: 350px;
}
td.7{
	
	width: 50px;
}
td.8{
	
	width: 250px;
}
td.9{
	
	width: 50px;
}
td.10{
	
	width: 50px;
}
td.11{
	
	width: 100px;
}
td.12{
	
	width: 58px;
}

