<!DOCTYPE html>
<html>

 <head>
  	<meta charset="utf-8"/>

  </head>
  <body>
  	<div>
    <h2 align="center"><strong>RECIBO DE TRANSACCIÓN</strong></h2>	
	</div>
	<p class="1"><strong>RECIBIMOS DE SR. (A): </strong>{NOMBRE_PARTICIPES}</p>
	<p class="1"><strong>NÚMERO DE IDENTIDAD : </strong>{IDENTIFICACION_PARTICIPES}</p>
	<p class="1"><strong>CANTIDAD: </strong>{CANTIDAD}</p>
	<p class="1"><strong>CONCEPTO: </strong>{CONCEPTO}</p>
	<p class="1"><strong>APLICACIÓN AL CRÉDITO: </strong>{CREDITO}</p>
	<div class="izq">
	<p class="1"><strong>NÚMERO DE TRANSACCIÓN </strong>{NUMERO_TRANSACCION}</p>
	</div>
	<div class="der">
	<p class="1"><strong>NÚMERO ASIENTO: </strong>{NUMERO_ASIENTO}</p>
	</div>
 <div  class="completa">  
		<table class="1">
	<tr>
		<th class="3">FORMA DE PAGO</th> <th class="3">FECHA</th> <th class="3">VALOR</th> <th class="3">BANCO</th> <th class="3">DOCUMENTO</th> <th class="3">MOTIVO DE PAGO</th>
	</tr>
	<tr>
		<td class="3">{FORMA_DE_PAGO}</td> <td class="3">{FECHA_PAGO}</td> <td class="3">{VALOR}</td> <td class="3">{BANCO}</td> <td class="3">{DOCUMENTO}</td><td class="3">{MOTIVO_DE_PAGO}</td>
	</tr>

</table>
	<br>
	<br>
	
	{TABLA_VALORES}
	
	</div>

	
  </body>
  </html>