<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table class="1">
		<tr>
		 <td>
		 <strong>Formulario de Reclamos, Quejas y Consultas</strong>	
		 </td>
		</tr>
	    </table>
	    <br>
	
	  <div class="1">
	  <table class="2">
	  <tr>
	  <td><strong> Datos del Solicitante</strong></td>
	  </tr>
	  </table>
		
	  <table class="2">
	  <tr>
	  <td><strong>Nombres:&nbsp;</strong>{NOMBRES_RECLAMOS}&nbsp;{APELLIDOS_RECLAMOS}</td>
	  <td><strong>Edad:&nbsp;</strong>{EDAD_RECLAMOS}</td>
	  </tr>
	  <tr>
	  <td><strong>Teléfono:&nbsp;</strong>{TELEFONO_RECLAMOS}</td>
	  <td><strong>Celular:&nbsp;</strong>{CELULAR_RECLAMOS}</td>
	  </tr>
	   <tr>
	  <td><strong>Nacionalidad:&nbsp;</strong>{NACIONALIDAD_RECLAMOS}</td>
	  <td><strong>Correo Electrónico donde se recibirán notificaciones:&nbsp;</strong>{EMAIL_RECLAMOS}</td>
	  </tr>
	  <tr>
	  <td colspan="2"><strong>Dirección:&nbsp;</strong>{DIRECCION_RECLAMOS}</td>
	  </tr>
	  </table>
	  </div>  
	 
	 	
	  <table class="2">
	  <tr>
	  <td><strong>DETALLES DE LA CONSULTA, QUEJAS O RECLAMOS</strong></td>
	  </tr>
	  
	  <tr>
	  <td><strong>Carta Explicativa o Detalle del Reclamo: </strong></td>
	  </tr>
	  
	  <tr>
	   <td>{DETALLE_RECLAMOS}</td>
	  </tr>
	  
	  <tr>
	  <td><strong>Fecha de recpeción del reclamo, queja o consulta: </strong>{FECHA_RECLAMOS}</td>
	  </tr>
	  
	  </table>
	  
	  <table class="3">
	  <tr>
	  <td><strong>Nota:</strong></td>
	  </tr>
	  <tr>
	  <td>•	Declaro que la información personal proporcionada en el formulario es verdadera, por tanto: Eximo al Fondo Complemenatrio de toda responsabilidad, penal, civil y administrativa inclusive frente a terceros, si está información proporcionada fuera falsa, errónea, autorizo su verificación y uso.</td>
	  </tr>
	  <tr>
	  <td>•	Acepto que la información proporcionada está sujeta a constante actualización. Por tanto, el Fondo Complementario no asume responsabilidad alguna, presente o futura, respecto de las variaciones que se produzcan en la misma</td>
	  </tr>
	  </table>
	   
	    
	    
	   
	      
	  
	</div>	
	

  </body>
  </html>