<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table class="1">
		<tr>
		 <td>
		 <strong>Acta de Liquidación Rendmientos Año {AÑO_LIQUIDACION}</strong>	
		 </td>
		</tr>
	    </table>
	    <br>
	    
	    <table class="3">
		<tr>
		 <td>
		 En la ciudad de Quito, el día de hoy {FECHA_ACTUAL} , de manera libre y voluntaria comparecen por
		 </td>
		 </tr>
		 <tr>
		 <td>
		una parte el F.C.P.C DE CESANTIA DE SERVIDORES Y TRABAJADORES PÚBLICOS DE FUERZAS ARMADAS
		CAPREMCI, legalmente representado por quien suscribe la presente acta, en calidad de “FONDO”; y, por otra, el/la señor/a &nbsp; {APELLIDO_PARTICIPE}&nbsp;{NOMBRE_PARTICIPE}, en calidad de EX PARTICIPE, con el objeto de suscribir la presente Acta de Liquidación de Rendimientos del año {AÑO_LIQUIDACION}
		de la Cuenta Individual o Cesantía, al tenor de las siguientes Clausulas:	
		 </td>
		</tr>
		
		<tr>
		 <td>
		<strong>PRIMERA.- </strong>La relación de Afiliación, lícita y personal, entre los comparecientes concluye en la presente fecha, de mutuo
		acuerdo, de conformidad con las normas previstas en el Estatuto del Fondo y sus reglamentos.<br>
		<strong>SEGUNDA.- </strong>En este caso se procede a realizar la liquidación de la Cuenta Individual o Cesantía del EX – PARTICIPE, en virtud de
		haber quedado CESANTE O DESAFILIADO/A de la Entidad Patronal para la cual laboraba y así haber sido calificado por el
		FONDO de conformidad con el siguiente detalle:	
		 </td>
		</tr>
	    </table>
	    <br>
	    <table class="3">
		<tr>
		 <td>VALORES A FAVOR RENDIMIENTOS&nbsp;{AÑO_LIQUIDACION}</td>
		 <td>Referencia: &nbsp;{}</td>
		 </tr>
		 
		 <tr>
		 <td  colspan="2"><strong>Cuenta Individual desde:</strong>&nbsp; {}<strong> hasta:</strong>&nbsp; {}</td>
		 </tr>
		
	    </table>
	    
	    <br>
	    <table class="4" border=1>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td><strong>usd</strong></td>
		 <td><strong>usd</strong></td>
		 </tr>
		 <tr>
		 <td>SUPERAVIT PERSONAL CTAIND:</td>
		 <td class="1">{SUPERAV_PERSONAL}</td>
		 <td class="1">0.00</td>
		 </tr>
		 
		 <tr>
		 <td>SUPERAVIT PATRONAL CTAIND:</td>
		 <td class="1">0.00</td>
		 <td class="1">{SUPERAV_PATRONAL}</td>
		 </tr>
		 
		 <tr>
		 <td>IR 2% PATRONAL CTAIND:</td>
		 <td class="1">0.00</td>
		 <td class="1">{IR_PATRONAL}</td>
		 </tr>
		 
		 <tr>
		 <td><strong>Totales Rendimientos Cuenta Individual:</strong></td>
		 <td class="1">{TOTAL_1}</td>
		 <td class="1">{TOTAL_2}</td>
		 </tr>
		</table>
	    
	    <table class="3">
	    <tr>
		 <td><strong>Cuentas por Desembolsar desde hasta</strong></td>
		 </tr>
	    </table>
	    
		<table class="4" border=1>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td><strong>usd</strong></td>
		 <td><strong>usd</strong></td>
		 </tr>
		 <tr>
		 <td><strong>Totales Rendimientos Cuenta Individual:</strong></td>
		 <td>&nbsp;</td>
		 <td>&nbsp;</td>
		 </tr>
	    </table>  
	    <br>
	     <table class="3">
	    <tr>
		 <td><strong>Descuentos</strong></td>
		 </tr>
	    </table>
	   
		<table class="4" border=1>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td><strong>usd</strong></td>
		 </tr>
		 <tr>
		 <td><strong>Total Descuentos:</strong></td>
		 <td>&nbsp;</td>
		 </tr>
	    </table> 
	    <br>
	    <table class="4" border=1>
		<tr>
		 <td><strong>TOTAL A RECIBIR:</strong></td>
		 <td class="1"><strong>{VALOR_PAGAR}</strong></td>
		 </tr>
		 <tr>
		 <td colspan="2"><strong>Son:</strong>&nbsp;{VALOR_LETRAS}</td>
		 </tr>
	    </table> 
	    <br>
	    <table class="2" border=1>
		<tr>
		 <td><strong>TERCERA.-</strong> EL EX – PARTICIPE, manifiesta que se recibe el valor arriba mencionado a su entera satisfacción y que con dicha cantidad
			se encuentra completamente pagados sus beneficios y/o prestaciones y que, por lo tanto, nada tiene que reclamar y por ningún
			concepto en contra del FONDO, sus Directivos y/o Funcionarios.</td>
		 </tr>
		 <tr>
		 <td><strong>CUARTA.- </strong>EFECTO DEL CONVENIO DE PAGO.- De conformidad con lo establecido en los Artículos 2348, 2362 del Código Civil ,
			los comparecientes han resuelto darle al presente acuerdo, con el que terminan una relación jurídica y precaven cualquier litigio
			eventual, la calidad de sentencia ejecutoriada, pasada por autoridad de cosa juzgada en última instancia;</td>
		 </tr>
		 
		 <tr>
		 <td><strong>QUINTA.- </strong>ACEPTACION Y RATIFICACION.- Las partes aceptan en todos sus términos y se ratifican en las estipulaciones y
			declaraciones contenidas en las clausulas precedentes, en fe de lo cual, se suscriben el presente instrumento en tres ejemplares de
			igual tenor y valor.</td>
		 </tr>
		 
		 </table> 
		 <br>
		 <table class="3">
		 <tr>
		 <td><strong>___________________________________________</strong></td>
		 <td>&nbsp;</td>
		 <td><strong>___________________________________________</strong></td>
		 </tr>
		 <tr>
		 <td>{APELLIDO_PARTICIPE}&nbsp;{NOMBRE_PARTICIPE}</td>
		 <td>&nbsp;</td>
		 <td>ING. STEPHANY ZURITA CEDEÑO</td>
		 </tr>
		 <tr>
		 <td>EX. AFILIADO (A)/ BENEFICIARIO (A)</td>
		 <td>&nbsp;</td>
		 <td>REPRESENTANTE LEGAL CAPREMCI</td>
		 </tr>
		 <tr>
		 <td colspan="2">C.C.&nbsp;{CEDULA_PARTICIPE}</td>
		 </tr>
		 <tr>
		 <td colspan="2">Solicitud.&nbsp;<strong>{}</strong></td>
		 </tr>
		 
		 </table>
	      
	  
	</div>	
	

  </body>
  </html>