<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table class="1">
		<tr>
		 <td>
		 <strong>Acta de Liquidación Rendmientos Año {}</strong>	
		 </td>
		</tr>
	    </table>
	    <br>
	    
	    <table class="3">
		<tr>
		 <td>
		 En la ciudad de Quito, el día de hoy {} , de manera libre y voluntaria comparecen por
		 </td>
		 </tr>
		 <tr>
		 <td>
		una parte el F.C.P.C DE CESANTIA DE SERVIDORES Y TRABAJADORES PÚBLICOS DE FUERZAS ARMADAS
		CAPREMCI, legalmente representado por quien suscribe la presente acta, en calidad de “FONDO”; y, por otra, el/la señor/a {}, en calidad de EX PARTICIPE, con el objeto de suscribir la presente Acta de Liquidación de Rendimientos del año {}
		de la Cuenta Individual o Cesantía, al tenor de las siguientes Clausulas:	
		 </td>
		</tr>
		
		<tr>
		 <td>
		<strong>PRIMERA.- </strong>La relación de Afiliación, lícita y personal, entre los comparecientes concluye en la presente fecha, de mutuo
		acuerdo, de conformidad con las normas previstas en el Estatuto del Fondo y sus reglamentos.<br>
		<strong>SEGUNDA.- </strong>En este caso se procede a realizar la liquidación de la Cuenta Individual o Cesantía del EX – PARTICIPE, en virtud de
		haber quedado CESANTE O DESAFILIADO/A de la Entidad Patronal para la cual laboraba y así haber sido calificado por el
		FONDO de conformidad con el siguiente detalle:	
		 </td>
		</tr>
	    </table>
	    <br>
	    <table class="3">
		<tr>
		 <td>VALORES A FAVOR RENDIMIENTOS&nbsp;{}</td>
		 <td>Referencia: &nbsp;{}</td>
		 </tr>
		 
		 <tr>
		 <td  colspan="2"><strong>Cuenta Individual desde:</strong>&nbsp; {}<strong> hasta:</strong>&nbsp; {}</td>
		 </tr>
		
	    </table>
	    
	    <br>
	    <table class="4" border=1>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td><strong>usd</strong></td>
		 <td><strong>usd</strong></td>
		 </tr>
		 <tr>
		 <td>SUPERAVIT PERSONAL CTAIND:</td>
		 <td>{}</td>
		 <td>{}</td>
		 </tr>
		 
		 <tr>
		 <td>SUPERAVIT PATRONAL CTAIND:</td>
		 <td>{}</td>
		 <td>{}</td>
		 </tr>
		 
		 <tr>
		 <td>IR 2% PATRONAL CTAIND:</td>
		 <td>{}</td>
		 <td>{}</td>
		 </tr>
		 
		 <tr>
		 <td><strong>Totales Rendimientos Cuenta Individual:</strong></td>
		 <td>{}</td>
		 <td>{}</td>
		 </tr>
		</table>
	    
	    <table class="3">
	    <tr>
		 <td><strong>Cuentas por Desembolsar desde hasta</strong></td>
		 </tr>
	    </table>
	    
		<table class="4" border=1>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td><strong>usd</strong></td>
		 <td><strong>usd</strong></td>
		 </tr>
		 <tr>
		 <td><strong>Totales Rendimientos Cuenta Individual:</strong></td>
		 <td>{}</td>
		 <td>{}</td>
		 </tr>
	    </table>  
	    <br>
	     <table class="3">
	    <tr>
		 <td><strong>Descuentos</strong></td>
		 </tr>
	    </table>
	   
		<table class="4" border=1>
		<tr>
		 <td><strong>Detalle:</strong></td>
		 <td><strong>usd</strong></td>
		 </tr>
		 <tr>
		 <td><strong>Total Descuentos:</strong></td>
		 <td>{}</td>
		 </tr>
	    </table> 
	    <br>
	    <table class="4" border=1>
		<tr>
		 <td><strong>TOTAL A RECIBIR:</strong></td>
		 <td><strong>{}</strong></td>
		 </tr>
		 <tr>
		 <td colspan="2"><strong>Son:</strong>&nbsp;{}</td>
		 </tr>
	    </table> 
	      
	  
	</div>	
	

  </body>
  </html>