<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	<title>Capremci</title>
 
 <style>
	.htexto2{		
	font-size: 15px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
  	.htexto1{		
	font-size: 12px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
table.1 {
   width: 800px;
   font-size:14px;
   border-collapse: collapse;
   caption-side: top;
   
}


  	</style>
  </head>
  <body>
  <p align="right" class="htexto1"><strong>Fecha y Hora de Impresión: </strong>{FECHAIMPRESION}</p>
  <div align="center">  
  <img  src="view/images/Logo-Capremci-h-200.jpg" width="500" height="60"></img>
  </div>
  
  
<p align="center" class="htexto2">ELECCIONES PARA REPRESENTANTES ASAMBLEA 2020-2022<i><strong><br><br>
RESUMEN DE SUFRAGIOS<br>
</strong></i></p>
	 <div>
	{TABLA_VALORES}
	 </div>
  </body>
  </html>