<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	<title>Pagaré</title>
 
 <style>
  	.htexto1{		
	font-size: 15px;
	font-family: Verdana;
}
  	.htexto2{		
	font-size: 20px;
	font-family: Verdana;
}
  	</style>
  </head>
  <body>  
  
<br/><br/><br/>

<p align="right" class="htexto1"><strong>Sol-Pagare-000012</strong></p><br/>	
<p align="center" class="htexto2"><strong>SOLICITUD  ENTREGA DE PAGARÉ</strong></p>

<p align="left" class="htexto1"><strong>Quito D.M., {FECHA}</strong></p><br/>
<p align="left" class="htexto1">Señores.<br/>
CAPREMCI.<br/>
Presente.-</p><br/><br/>

<p align="justify" class="htexto1">Yo, <strong>{APELLIDO_PARTICIPES} {NOMBRE_PARTICIPES}</strong> con cedula número: <strong>{CEDULA_PARTICIPES}</strong>  en mí calidad de titular del crédito: <strong>{TIPO_CREDITOS}</strong>  número: <strong> {NUMERO_CREDITOS}</strong>, concedido el <strong> {FECHA_CONSECION}</strong>, comedidamente le informo que el mismo ya ha sido pagado en su totalidad, y me permito solicitar el Pagaré que emití como garantía del pago del crédito antes mencionado.</p><br/><br/><br/><br/>	
<p align="justify" class="htexto1">En __________________a los _______días del mes de______________ del año 2_____ .</p><br/><br/>	
<p align="left" class="htexto1">Atentamente,</p><br/><br/><br/><br/><br/>

<p align="left" class="htexto1"><strong>{APELLIDO_PARTICIPES} {NOMBRE_PARTICIPES}</strong><br/>
<strong>{CEDULA_PARTICIPES}</strong><br/>


	
  </body>
  </html>