<!DOCTYPE html>
<html>

 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  	<h3 class="titulo"> {TITULO} </h3>
  	
  	<div class="box-footer no-padding">
	<div class="bio-row"><div class="tabulacion"><div class="label">Tipo Cr&eacute;dito</div> <div>: {TIPO_CREDITO}</div></div></div>
	<div class="bio-row"><div class="tabulacion"><div class="label">Monto Solicitado</div> <div>: {MONTO_SOLICITADO}</div></div></div>
	</div>
  	
  	<div class="clearfix"></div>
	<br>
	</div>
	 <div>{DETALLE_SIMULADOR}</div>	
  </body>
 </html>
  
  