<!DOCTYPE html>
<html>

 <head>
  	<meta charset="utf-8"/>

  </head>
  <body>
  	<div>
    <h2 align="center"><strong>RECIBO DE PRESENTACIÓN DE SOLICITUD DE {TIPO_PRESTAMO}</strong></h2>	
	</div>
	<p class="1"><strong>Solicitud N°: </strong>{SOLICITUD}<br><br>
	<strong>Fecha / Hora: </strong>{FECHA_HORA}</p>
	<div class="izq1" >
	<p class="1"><strong>Solicitante: </strong>{NOMBRE_SOLICITANTE}</p>
	</div>
	<div class="der">
	    <p class="1"><strong>Cedula: </strong>{CEDULA}</p>
	</div>
	<div class="completa1">
	<p class="1"><strong>Tipo de Encaje: </strong> {TIPO_ENCAJE}</p>
	</div>
	<div class="izq1" >
	<p class="1"><strong>Recibido por: </strong>{RECIBIDO_POR}</p>
	</div>
	
	<div class="completa">
		<table class="3">
				<tr>
				<td><p class="1"># de Cuenta:</p></td>
				<td><p class="1">{NUMERO_CUENTA}</p></td>
				<td><p class="1">{BANCO}</p></td>
				<td><p class="1">{TIPO_CUENTA}</p></td>
				</tr>
	</table>
	</div>
	
	{TABLA_CREDITOS_ANTERIORES}
	<div class="completa" >
	<p class="1"><strong>Cálculo del Beneficio:</strong></p>
	<div class="izq1" >
	<p class="1">Total Beneficio Cuenta Individual:</p>
	</div>
	<div class="der" >
	<p class="1">{TOTAL_BENEFICIO_CUENTA_INDIVIDUAL}</p>
	</div>
	</div>
	<div class="completa1" >
	<p class="1"><strong>Monto Máximo: {TIPO_PRESTAMO}:</strong></p>
	</div>
	<div class="completa1" >
	<div class="izq" >
	<p class="1">Solicitado:<br>
	Plazo:<br>
	Cuota:<br>
	{SALDO_NOMBRES}<br>
	Retención Primera Cuota:<br>
	Retención Aportes:<br>
	Liquido a Recibir:</p> 
	</div>
	<div class="der" >
	<p class="1">{MONTO_SOLICITADO}<br>
	{PLAZO}<br>
	{CUOTA}<br>
	{SALDO_VALORES}<br>
	{RETENCION_PRIMERA_CUOTA}<br>
	{RETENCION_APORTES}<br>
	<strong>{LIQUIDO_RECIBIR}</strong></p> 
	</div>
	</div>
	 <div  class="completa1">  
	<p class="1"><strong>Observaciones: </strong>{OBSERVACIONES}</p>
	<table class="2">
				<tr>
				<td rowspan="2" class="2"><p class="2"><strong>Confirmación de datos</strong></p></td>
				<td class="2"><p class="2"><strong>Número Teléfono Fijo Participe</strong></p></td>
				<td class="2"><p class="2"><strong>Número Teléfono Móvil Participe</strong></p></td>
				<td class="2"><p class="2"><strong>Correo Electronico Participe</strong></p></td>
				<td class="2"><p class="2"><strong>Verificación  Datos Referencias Personales</strong></p></td>
				</tr>
				<tr>
				<td class="2"><br><br><br><br></td>
				<td class="2"><br><br><br><br></td>
				<td class="2"><br><br><br><br></td>
				<td class="2"><br><br><br><br></td>
				</tr>
	</table>
	<br>

	
	<table class="2">
	<tr>
		<th class="3">ACCIONES</th> <th class="3">NIVEL</th> <th class="3">RESPONSABLE</th> <th class="3">FECHA</th> <th class="3">FIRMA</th>
	</tr>
	<tr>
		<td class="3">Recomendado por:</td> <td class="3">{NIVER_R1}</td> <td class="3">{USUARIO_1}</td> <td class="3">{FECHA_REGISTRO_FLUJO_1}</td> <td class="3"></td>
	</tr>
	<tr>
		<td class="3">Aprobado por:</td> <td class="3">{NIVER_R2}</td> <td class="3">{USUARIO_2}</td> <td class="3">{FECHA_REGISTRO_FLUJO_2}</td> <td class="3"></td>
	</tr>
</table>
	<br>
	
	</div>
	
  </body>
  </html>