<!DOCTYPE html>
<html>

 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table class="4" align="center">
		<tr>
		 <td class="1">
		 <strong>&nbsp;</strong>	
		 </td>
		 <td>
		 <strong>{TITULO}{NOMBRE_ENTIDAD}</strong>	
		 </td>
		 
		</tr>
		<tr>
			 <td><strong>A&Ntilde;O:</strong></td>
			 <td>{ANIO_DESCUENTOS}</td>
		</tr>
		<tr>
			 <td><strong>MES:</strong></td>
			 <td>{MES_DESCUENTOS}</td>
		</tr>
	    </table>
	 </div>
	 <br>
	 <div>{DETALLE_DESCUENTOS}</div>
	
  </body>
  </html>