<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table style="width:100px;" align="center">
		<tr>
		 <td class="20">
		 <h2><strong>FONDO COMPLEMENTARIO PREVISIONAL CERRADO DE CESANTIA DE SERVIDORES Y TRABAJADORES PUBLICOS DE FUERZAS ARMADAS-CAPREMCI														
			</strong>
		</h2>														
	 </td>
	 </tr>
	 <tr>
	 <td class="20">
		 <h2><strong>PRESUPUESTO 2020</strong></h2>														
	 </td>
	 </tr>	
	    </table>
	    <br>
	<div>
	 {DETALLE_PRESUPUESTOS}
	</div>
	</div>	
	

  </body>
  </html>