<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	<title>Certificado</title>
 
 <style>
  	.htexto1{		
	font-size: 15px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
  	.htexto2{		
	font-size: 20px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
  	</style>
  </head>
  <body>  
  <td width=100px><img  src="view/images/Logo-Capremci-h-200.jpg" width="200" height="39"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  src="view/images/Logo-Biess.jpg" width="150" height="45"></img></td>
	
<br/><br/><br/>
<p align="right" class="htexto1"><strong>Quito D.M., 27 de abril de 2020</strong></p><br/><br/>
	
<p align="center" class="htexto2"><strong><u>CERTIFICADO</u></strong></p>
<p align="justify" class="htexto1">Yo, MAURICIO CUADRADO con C.C. 1709895385; Jefe del Departamento de Recaudaciones de CAPREMCI.</p><br/>
<p align="center" class="htexto2"><strong>CERTIFICO</strong></p>
<p align="justify" class="htexto1">Que, de acuerdo con la calificación de cartera al 31 de marzo de 2020, el o la Sr/Sra <strong>{APELLIDO_PARTICIPES} {NOMBRE_PARTICIPES}</strong> con C.C. <strong>{CEDULA_PARTICIPES}</strong> se encuentra en categoría A-1 y no presenta morosidad al Fondo; en base a estos antecedentes se puede aplicar el diferimiento de los meses de mayo, junio y julio al crédito con el dividendo más alto.</p>	
<p align="justify" class="htexto1">Es todo cuanto puedo certificar en honor a la verdad.</p><br/><br/>	
<p align="left" class="htexto1">Atentamente,<br/></p>
<img  src="view/images/Firma_Mauricio_Cuadrado.jpg" width="200" height="60">
<p align="left" class="htexto1"><strong>MAURICIO CUADRADO</strong><br/>
<strong>JEFE DE RECAUDACIONES</strong><br/>
<strong>CAPREMCI</strong><br/></p>

	
  </body>
  </html>