<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	
  		<table class="1">
		<tr>
		 <td><strong>Tarjeta Kardex</strong></td>
		</tr>
	    </table>
	  <br>
	 <div class="1"> 
	  <table class="2">
	  <tr>
	  <td><strong>Entidad Patronal: </strong>&nbsp;{ENTIDAD_PATRONAL}</td>
	  </tr>
	  </table>
	  <table class="2">
	  <tr>
	  <td><strong>Cédula:&nbsp;</strong>{CEDULA_PARTICIPE}</td>
	  <td><strong>Nombre:&nbsp;</strong>{NOMBRE_PARTICIPE}&nbsp;{APELLIDO_PARTICIPE}</td>
	  </tr>
	  </table>
	  
	  <table class="2">
	  <tr>
	  <td><strong>Cargo:&nbsp;</strong>{OCUPACION_PARTICIPE}</td>
	  <td><strong>F.Alta:&nbsp;</strong>{FECHA_INGRESO}</td>
	  <td><strong>F.Baja:&nbsp;</strong>{FECHA_SALIDA}</td>
	  </tr>
	  </table>
	 	</div>
	 	<br> 
	 	
	 		  
	  <table class="1">
		<tr>
		 <td><strong>Categoría:</strong>Aportes Personales</td>
		</tr>
	    </table>
	    <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:</strong>Aporte Personal</td>
		</tr>
	    </table>
	  
	  {DETALLE_PERSONAL}
	    
	
	

  </body>
  </html>