/* para clases de cabecera */ 
.divheader{
	border:0px solid; width:100%; 
}
	
.headertable{
	width:100%;
	border:1px solid;width:100%;
	
}
td.central{
	background-repeat: no-repeat;
  	background-size: 10% 100%;
	background-image: url(view/images/Logo-Capremci-h-170.jpg); 
	background-position: 0% 100%;
	font-size: 11px;  
	padding: 0px; 
	text-align:center;
	
}
.htexto1{		
	font-size: 10px;  padding: 5px; 
	text-align:left;
	width: 60%;
}
.htexto2{		
	font-size: 10px;  padding: 5px; 
	text-align:left;
	width: 33%;
}
.htexto2 span{	 
	text-align:left;
}

td.qr{
	
	
	width: 50px;
}
td.espacio{
	
	
	width: 50px;
}


/***************************/
table.1 {
   width: 100%;
   font-size:20px;
   border-collapse: collapse;
   caption-side: top;
   text-align:center;
  
   
   
}


table.2 {
   width: 100%;
   font-size:14px;
   border-collapse: collapse;
   caption-side: top;
   text-align:left;
   font-size: 12px;
   
}

table.3 {
   width: 100%;
   border-collapse: collapse;
   caption-side: top;
   text-align:center;
   font-size: 12px;
   text-align : justify;
   
}

table.4 {
   width: 60%;
   border-collapse: collapse;
   caption-side: top;
   text-align:center;
   font-size: 12px;
   text-align : justify;
   
}
div.1 {
  border-top: 1.5px solid black;
  border-right: none;
  border-bottom: 1.5px solid black;
  border-left: none;
}

td.1{
	   text-align:right;
	   
	}
	
td.2{
	   text-align:left;
	   background-color: #A2B2D6;
	}
	
td.3{
	   text-align:left;
	   
	}
	
td.4{
	   text-align:center;
	   background-color: #8FFEF9;
	   
	}

