<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	<div>
  		<table Class="1">
		<tr>
		 <td>
		 <h3><strong>REPORTE DE APORTES RECIBIDOS A: {ENTIDAD_PATRONAL}</strong></h3>	
		 </td>
		</tr>
	    </table>
	    <br>
	    <table Class="1">
	    <tr>
	    <td align="left"><strong>AÑO:</strong>&nbsp;{ANIO}</td>
	    <td align="left"><strong>MES:</strong>&nbsp;{MES}</td>
	    </tr>
	    </table>
	    <br>
	    <div>
	 {DETALLE_DESCUENTOS_APORTES}
	</div>
	</div>	
	

  </body>
  </html>