<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
   </head>
  <body>  
  <img  src="view/images/Logo-Capremci-h-200.jpg" width="200" height="39">
  <p class="htexto1" align="center"><strong>FONDO COMPLEMENTARIO PREVISIONAL CERRADO DE CESANTIA DE SERVIDORES Y TRABAJADORES PUBLICOS DE FUERZAS ARMADAS - CAPREMCI</strong></p>
  <p class="htexto2" align="center"><strong>BITÁCORA DIARIA DE ACTIVIDADES POR TELETRABAJO<br>
  DEPARTAMENTO DE CREDITO Y PRESTACIONES</strong></p>
   <table class="2">
  <tr>
  <td><strong>NOMBRE: </strong>{nombres_empleados}</td>
  </tr>
  <tr>
  <td><strong>CARGO: </strong>{nombre_cargo}</td>
  </tr>
  </table>
  
  <table class="2">
  <tr>
  <td><strong>FECHA: </strong>{fecha_reg}</td>
  <td><strong>DESDE: </strong>{desde_reg}</td>
  <td><strong>HASTA: </strong>{hasta_reg}</td>
  </tr>
  </table>
  <br>
  
<div>{DETALLE}</div>
 </body>
  </html>
  
  