<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  
  </head>
  <body>
  	
  		<table class="4">
		<tr>
		 <td><strong>Tarjeta Kardex</strong></td>
		</tr>
	    </table>
	  <br>
	 <div class="1"> 
	  <table class="2">
	  <tr>
	  <td><strong>Entidad Patronal: </strong>&nbsp;{ENTIDAD_PATRONAL}</td>
	  </tr>
	  </table>
	  <table class="2">
	  <tr>
	  <td><strong>Cédula:&nbsp;</strong>{CEDULA_PARTICIPE}</td>
	  <td><strong>Nombre:&nbsp;</strong>{NOMBRE_PARTICIPE}&nbsp;{APELLIDO_PARTICIPE}</td>
	  </tr>
	  </table>
	  
	  <table class="2">
	  <tr>
	  <td><strong>Cargo:&nbsp;</strong>{OCUPACION_PARTICIPE}</td>
	  <td><strong>F.Alta:&nbsp;</strong>{FECHA_INGRESO}</td>
	  <td><strong>F.Baja:&nbsp;</strong>{FECHA_SALIDA}</td>
	  </tr>
	  </table>
	 	</div>
	 	<br> 
	 	
	 <table class="4">
		<tr>
		 <td><strong>Categoría:</strong>Aportes Patronales</td>
		</tr>
	    </table>
	    <br>
	  <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Aporte Patronal</td>
		</tr>
	    </table>
	    {DETALLE_APORTE_PATRONAL}
	    
	      <br>
	  <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Exedente por Aporte Patronal</td>
		</tr>
	    </table>
	    {DETALLE_APORTE_PATRONAL_EXEDENTE}
	    
	    <br> 
	     <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Interes Aporte Patronal</td>
		</tr>
	    </table>
	    {DETALLE_APORTE_PATRONAL_INTERES}
	    
	     <br>
	    <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Superavit Aporte Patronal</td>
		</tr>
	    </table>
	    {DETALLE_APORTE_PATRONAL_SUPERAVIT}
	   
	   
	   
	   
	 
	 
	 
	 
	 <br>		  
	  <table class="4">
		<tr>
		 <td><strong>Categoría:</strong>Aportes Personales</td>
		</tr>
	    </table>
	    <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Aporte Personal</td>
		</tr>
	    </table>
	  
	  {DETALLE_PERSONAL}
	  
	  <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Exedente por Aporte Personal</td>
		</tr>
	    </table> 
	    {DETALLE_EXCEDENTE_PERSONAL}
	 <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Impuesto IR Supervit Personal</td>
		</tr>
	    </table>
	    
	    {DETALLE_IMPUESTO_IR_PERSONAL}
	    <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Interes Aporte Personal</td>
		</tr>
	    </table>
	    
	    {DETALLE_INTERES_PERSONAL}
	    
	      <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Retroactivo Personal</td>
		</tr>
	    </table>
	    
	    {DETALLE_RETROACTIVO_PERSONAL}
	    
	      <br>
	   <table class="3" border=1>
		<tr>
		 <td class="3"><strong>Tipo de Aporte:&nbsp;</strong>Superavit por Aporte Personal</td>
		</tr>
	    </table>
	    
	    {DETALLE_SUPERAVIT_PERSONAL}
	

  </body>
  </html>