<!DOCTYPE html>
<html>
 <head>
  	<meta charset="utf-8"/>
  	<title>Tabla Amortización</title>
  <style>
  
  div.izq{
	left:0px;   width:49%; height:12%; border: 1px solid black; float:left;
	}
	
	div.der{
	right:0px;  width:49%; height:12%; border: 1px solid black; float:left;
	}
	body {font-size:10px}
	
td{
	height: auto;

}

	   
  </style>
  
  </head>
  <body>
  	<div>
  		<br>
  		<table style="width:100%;" align="center">
		<tr>
		 <td  style="font-size: 60%;" >
		 <strong>TABLA DE AMORTIZACIÓN</strong>	
		 </td>
		</tr>
	    </table>
	</div>
	<br>
	<br>
	<div class="izq" >
	  <table >
	  <tr>
	  <td width=80px><strong>Prestamo No:</strong></td>
	  <td width=90px>2x1-349</td>
	  <td width=90px><strong>Fecha Solicitud:</strong></td>
	  <td width=20px>20-06-2019</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=80px>&nbsp;</td>
	  <td width=90px>&nbsp;</td>
	  <td width=90px><strong>Fecha-Acreed:</strong></td>
	  <td width=20px>{Fecha}</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=75px><strong>Nombre:</strong></td>
	  <td width=250px>MONTESDEOCA FLORES JANNET LEONOR</td>
	  </tr>
	  <tr>
	  <td width=75px><strong>Identificación:</strong></td>
	  <td width=250px>0912484771</td>
	  </tr>
	  <tr>
	  <td width=75px><strong>Entidad Patronal:</strong></td>
	  <td width=250px>COMANDANCIA GENERAL DE LA FUERZA AÉREA</td>
	  </tr>
	  </table>
	</div>
	<div class="der">
	<table >
	  <tr>
	  <td width=100px><strong>Tipo de Préstamo:</strong></td>
	  <td width=250px>PQ-Crédito 2x1</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=80px><strong>Típo cuota:</strong></td>
	  <td width=90px>Fija</td>
	  <td width=40px><strong>Plazo:</strong></td>
	  <td width=50px>72 meses</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=100px><strong>Tasa:</strong></td>
	  <td width=250px>9.00 % mensuales</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=100px><strong>Estado:</strong></td>
	  <td width=250px>Cancelado</td>
	  </tr>
	  <tr>
	  <td width=100px><strong>&nbsp;<br>&nbsp;</strong></td>
	  <td width=250px>&nbsp;</td>
	  </tr>
	  </table>
	</div>
		<div class="izq" >
	  <table >
	  <tr>
	  <td align="center"><u><strong>DATOS DEL GARANTE</strong></u></td>
	  </tr>
	  </table>
	  <table >
	 <tr>
	  <tr>
	  <td width=75px><strong>Nombre:</strong></td>
	  <td width=250px>MONTESDEOCA FLORES JANNET LEONOR</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=75px><strong>Cédula:</strong></td>
	  <td width=100px>0912484771</td>
	  <td width=20px><strong>Cargo:</strong></td>
	  <td width=30px>CONTADOR</td>
	  </tr>
	  </table>
	  <table >
	  <tr>
	  <td width=75px><strong>Entidad Patronal:</strong></td>
	  <td width=250px>COMANDANCIA GENERAL DE LA FUERZA AÉREA</td>
	  </tr>
	  <tr>
	  <td width=75px><strong>Teléfono:</strong></td>
	  <td width=250px>0912484771</td>
	  </tr>
	  </table>
	  
	</div>
	<div class="der">
	 <table >
	 <tr>
	  <td width=100px><strong>&nbsp;</strong></td>
	  <td width=250px>&nbsp;</td>
	  </tr>
	  </table>
	  <table>
	  <tr>
	  <td width=100px><strong>Mónto:</strong></td>
	  <td width=80px align="right">10,240.00</td>
	  <td width=50px><strong>Moneda:</strong></td>
	  <td width=25px>DÓLARES</td>
	  </tr>
	  </table>
	  <table>
	  <tr>
	  <td width=100px><strong>Saldo:</strong></td>
	  <td width=80px align="right">0.00</td>
	  <td width=50px><strong>&nbsp;</strong></td>
	  <td width=25px>&nbsp;</td>
	  </tr>
	  <tr>
	  <td width=100px><strong>Mónto a Recibir:</strong></td>
	  <td width=80px align="right">0.00</td>
	  <td width=50px><strong>&nbsp;</strong></td>
	  <td width=25px>&nbsp;</td>
	  </tr>
	  </table>
	</div>
	
  </body>
  </html>