/* para clases de cabecera */ 
.clheader{
		border:1 solid; width:100%; 
	}
	
	.headertable{
		width:100%;
	}
	
	.headertabletd{
		font-size: 10px; width:69%; padding: 5px; 
		text-align:center;
	}
	table tr td .himagen{		
		background-color:red;
		padding: 5px; text-align: center;
		width:19%;
	}
	.htexto2{		
		font-size: 8px; width:20%; padding: 5px; 
		text-align:left;
	}

/***************************/
div{
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
.titulobody {
	width:100%;font-family:verdana, arial, sans-serif;
  	font-size:0.75em;line-height:2em; border:1px solid black;

  }

.titulobody td{
	font-weight:bold;
  	padding:0 0.5em; 
	text-align:center;
	border:hidden;
  }
 
 .bodycabecera{
 	border:hidden;
 }
 
 .


